body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #001f3f, #003366, #000);
    color: white;
    text-align: center;
  }

  .galeria {
    width: 500px;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(255,255,255,0.3);
    position: relative;
    margin: 0 auto;
  }

  .imagenes {
    display: flex;
    transition: transform 0.9s ease-in-out;
  }

  .imagenes img {
    width: 100%;
    border-radius: 15px;
    transition: transform 0.9s ease;
  }
  .imagenes img:hover {
    transform: scale(1.08);
  }
  .boton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    transition: background 0.3s;
    z-index: 10;
  }

  .boton:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
  .anterior { left: 10px; }
  .siguiente { right: 10px; }
  .indicadores {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    z-index: 5;
  }

  .indicador {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .indicador.activo {
    background-color: white;
    box-shadow: 0 0 8px white;
  }

  /*Menu*/
.nav{
    background-color: rgba(0, 255, 255, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    max-width: 1170px;
    height: 100px;
    border-radius: 0.7em;
    margin: 0 auto;
}

.barra{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    list-style: none;
}

.menu a {
    width: 150px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0.5em;
    border-radius: 0.7rem;
}

.menu:hover{
    text-decoration: none;
    transition: 0.1s;
    text-shadow: 0 0 10px rgb(255, 255, 255),
    0 0 20px,
    0 0 30px,
    0 0 40px;
}

.pie{
  background-color: rgb(0, 0, 0);
  height: auto;
  .Fin{
    color: #cccccc;
      list-style: none;
      text-align: center;
      font-size: 0.8em;
      padding: 5px 0;
      max-width: 1170px;
      height: auto;
      margin: 0 auto;
  }
}

h1 {
  margin-top: 40px;
  font-size: 3em;
  color: #00ccff;
  text-shadow: 0 0 15px #00ccff;
}